:root{
  --键盘背景色: #eee;
  --⇧键单击: #f00;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #555;
  --键边框大小: 0.01rem;
  --键圆角: .3rem;
  --键间距: .15rem;		/* 键(||)*/
  --行间距2: .1rem !important;		/*行(=)*/
  --键阴影:	 
    0 .1rem .2rem #555,
  inset 0 .2rem .2rem rgba(255, 255, 255, .9),
  inset 0 -.3rem .3rem rgba(0, 0, 0, .3);

/*字母键*/
  --背景色1: linear-gradient(180deg,#dcdedd,#fff);
  --字体色1: #222;
  --字大小1: 1.4rem;
  --上标字符色1: var(--字体色1);
  --字阴影1: 0 .01rem .5rem rgba(155,155,155,.3), 0 -.05rem 0 #fff;
  --键阴影1: none;

/*功能键*/
  --背景色2: var(--背景色1);
  --字体色2: #111;
  --上标字符色2: var(--字体色2);
  --字阴影2: none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: var(--背景色2);
  --⏎字体色: var(--字体色2);

/*候选栏*/
  --候背景色: transparent;
  --候字体颜色: #111;
  --候高亮首选色: #c35000;
  --候字阴影: none;
  --候阴影: none;
  --候底线颜色: none;
  --V背景色: #eee;
  --底栏字色: #222;
  --uifj键色: var(--字体色1);
	--高亮色2: red;
	--下标: transparent;
	--左右间距: .995;

  --键高度x: 3.3rem !important;
  --行间距x: 0.41rem !important;
}

.keyboard-key .alt-note {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: .6rem Sans-serif;
}

.keyboard:not(.popup) .keyboard-candidate-panel span[data-selection="true"]{
  position: relative; z-index: 100;
}
.keyboard:not(.popup) .keyboard-candidate-panel span.first{
  color: #000 !important;
}
.keyboard:not(.popup) .keyboard-candidate-panel span.first:before{
  height: 2.2rem;
  border-radius: .3rem;
  line-height:1;
  background: transparent;
	border: .1rem dashed #999;
  content: "";
  position:absolute;
  bottom:0;top:25%;left:.1rem;right:0%;
  z-index: -1;
}
.keyboard:not(.popup) .keyboard-candidate-panel span.first label.codetip{
	color: #999 !important;
}

.keyboard-key[data-row="4"] {
  margin-bottom: .31rem !important;
}

x.keyboard-key:not(.special-key, [data-keycode="32"]) > span span{
  font-family: sans-serif !important;
  font-weight: 500 !important;
}

