:root{
  --键盘背景色: #eaeaea;
  --⇧键单击: #f90000;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #333;
  --键边框大小: 0.1rem;
  --键圆角: .8rem;
  --键间距: .1rem;		/* 键(||)*/
  --键阴影:
		0 .05rem .1rem rgba(255,255,255,.2) inset,
		0 0 0 #000 inset,
		0 .05rem .6rem rgba(0,0,0,.3) inset;

/*字母键*/
  --背景色1: #606571;
  --字体色1: #fff;
  --字大小1: 1.3rem;
  --上标字符色1: #ccc;
  --字阴影1: 0 .1rem .1rem rgba(0,0,0,.3), 0 0 0 #000;
  --键阴影1: none;
 	--字上下1: 7%;

/*功能键*/
  --背景色2: #4c525f;
  --字体色2: #eee;
  --上标字符色2: var(--字体色2);
  --字阴影2: none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: rgba(255,255,255,.3);
  --⏎字体色: #eee;

/*候选栏*/
  --候背景色: #eaeaea;
  --候字体颜色: #111;
  --候高亮首选色: #c30;
  --候底线颜色: transparent;
  --候字阴影: none;
  --候阴影: none;
  --V背景色: var(--候背景色);
  --候高度: 4rem !important;
 	--选重: #ff0;
 	--底部显示: none;
 	--下标: transparent;
 	--uifj键色: var(--字体色1);
  --候顶部线色: #fff !important;
  --候顶部线色2: #999 !important;
  --键高度x: 3.3rem !important;
  --行间距x: 0.41rem !important;
	--动画框色: transparent;
	--动画字色: #000;
	--动画背景: pink;
}

.keyboard-key .alt-note {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: .6rem Sans-serif;
}

.keyboard-key[data-row="4"] {
  margin-bottom: .05rem !important;
}
/* 键按下时缩小 */
x.keyboard-key:active,
.keyboard-key.special-key:active{
  transform: scale(.9) !important;
}
.keyboard-key-panel {
	background: #2D3441 !important;
	transform:scaleX(.99) !important;
	border-radius: .6rem;
	box-shadow: inset 0 .15rem .1rem rgba(0,0,0,.7);
}
