:root{
  --键盘背景色: #bbb;
  --⇧键单击: #fF9000;
  --键边框颜色: #4A494A;
  --键边框大小: 0rem;
  --键圆角: .2rem;
  --键间距: .12rem;		/* 键(||)*/
  --键阴影:		/* 键 底部阴影 */
			#222 0 -.08rem 0 inset,
			rgba(0,0,0,.3) 0 -.2rem .2rem inset,
			rgba(0,0,0,.6) 0 .2rem .2rem;

/*字母键*/
  --背景色1: #404040;
  --字体色1: #DDD;
  --字大小1: 1.4rem;
  --上标字符色1: #999;
  --字阴影1: 0 .01rem 0 #fff;
  --键阴影1: none;
	--字上下1: 5%;

/*功能键*/
  --背景色2: #292929;
  --字体色2: #CCC;
  --上标字符色2: #999;
  --字阴影2: none;
  --键阴影2: var(--键阴影1);

/*回车键*/
  --⏎背景色: #3A7DEF;
  --⏎字体色: #DDD;

/*候选栏*/
  --候背景色: #bbb;
  --候字体颜色: #111;
  --候高亮首选色: #907;
  --候底线颜色: transparent;
  --候字阴影: none;
  --V背景色: #bbb;
  --候阴影: none;
	--选重: #ffff4d;
	--下标: transparent;

	--底部显示: none;
	--uifj键色: var(--字体色1);
	--左右间距: .995;
}
/* 上标居中 */
.keyboard-key .alt-note {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: .6rem Sans-serif;
}
.keyboard-key[data-row="4"] {
  margin-bottom: .25rem !important;
}
