:root{
  --键盘背景色: #E1E1E1;
  --⇧键单击: #fF0;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #222;
  --键边框大小: 0.1rem;
  --键圆角: .3rem;
  --键间距: .12rem;		/* 键(||)*/
  --键阴影: none;

/*字母键*/
  --背景色1: linear-gradient(to right,rgba(0,0,0,.1),#fff);
  --字体色1: #111;
  --字大小1: 1.4rem;
  --上标字符色1: #777;
  --字阴影1: none;
  --键阴影1: none;

/*功能键*/
  --背景色2: #3787F6;
  --字体色2: #eee;
  --上标字符色2: var(--字体色2);
  --字阴影2: none;
  --键阴影2: none;
	--字上下1: 5%;

/*回车键*/
  --⏎背景色: #3787F6;
  --⏎字体色: #FFF;

/*候选栏*/
  --候背景色: var(--键盘背景色);
  --候字体颜色: #111;
  --候高亮首选色: royalblue;
  --候底线颜色: transparent;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影: none;
  --V背景色: var(--键盘背景色);
  --uifj键色: var(--字体色1);
	--下标: transparent;
	--选重: #ff0;
	--底部显示: none;
}

.keyboard-key:not(.special-key) > .visual-wrapper {
  box-shadow:
    0 .15rem .1rem rgba(0,0,0,.2),
    inset .26rem .15rem 0 rgba(255,255,255,.5),
    inset -.26rem -.26rem .1rem rgba(0, 0, 0, .2);
}
.keyboard-key:is(.special-key, .special-keya, .specia-key[data-keycode]) > .visual-wrapper {
  box-shadow:
    0 .15rem .1rem rgba(0,0,0,.2),
    inset .26rem .15rem 0 rgba(255,255,255,.2),
    inset -.26rem -.26rem 0rem rgba(0, 0, 0, .2);
}

.keyboard-key[data-row="4"] {
  margin-bottom: .25rem !important;
}

.keyboard-key .alt-note {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: .7rem Sans-serif;
}
.keyboard-key.special-key[data-keycode="13"] .alt-note{
  color: var(--透明,#fff);
}

x.keyboard-key:not(.special-key, [data-keycode="32"]) > span span{
  font-family: sans-serif !important;
  font-weight: 500 !important;
}

/* 首选背景色 */
.keyboard:not(.popup) .keyboard-candidate-panel span,
.keyboard:not(.popup) .keyboard-candidate-panel span[data-selection="true"]{
  position: relative; z-index: 1;
}
.keyboard:not(.popup) .keyboard-candidate-panel span.first{
  color: #fff !important; /* 首选字体色 */
}
.keyboard:not(.popup) .keyboard-candidate-panel span.first:before{
  height: 2.4rem;
	border: .01rem solid #999;
  border-radius: .2rem;
  line-height:1;
  background: #3787F6; /* 首选背景色 */
  box-shadow: none;
	border-radius: .4rem;
  content: "";
  position:absolute;
  bottom:0;
	top:23%; /* 上下位置调整 */
	left:.1rem;
	right:0%;
  z-index: -1;
}
.keyboard:not(.popup) .keyboard-candidate-panel span.first label.codetip{
	color: #fff !important; /* 首选补全编码色 */
}
.keyboard:not(.popup) .keyboard-candidate-panel span[data-data="0"] p.desc{
  color: #fff !important;
}
