:root{
  --键盘背景色: #364558;
  --⇧键单击: #fF0000;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #ddd;
  --键边框大小: 0;
  --键圆角: .9rem;
  --键间距: 0.15rem;		/* 键(||)*/
  --键阴影:		/* 键 底部阴影 */
			none;

/*字母键*/
  --背景色1: transparent;
  --字体色1: #eee;
  --字大小1: 1.6rem;
  --上标字符色1: transparent;
  --字阴影1: 0 0 0 #000;
  --键阴影1: none;

/*功能键*/
  --背景色2: #303E4F;
  --字体色2: #ddd;
  --上标字符色2: #999;
  --字阴影2: 0 -.1rem 0 #000, 0 .05rem 0 #555;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: #2B3746;
  --⏎字体色: #764558;

/*候选栏*/
  --候背景色: #364558;
  --候字体颜色: #ddd;
  --候高亮首选色: #fff900;
  --候底线颜色: transparent;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影: none;
  --V背景色: #364558;
  --底栏字色: #eee;
}

.keyboard-key:not(.special-key) .alt-note {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: .5rem Sans-serif;
}

.keyboard .keyboard-key > .visual-wrapper > span {
	font: 600 1.9rem/3rem sans-serif;
}

.keyboard .keyboard-key[data-keycode="32"]:not(.special-key) > .visual-wrapper{
	background: rgba(100,100,100,.2);
}
