:root{
  --键盘背景色: #6a6f73;
  --⇧键单击: #FF9000;		/*shift键_单按_高亮_文字色*/
  --⇧键锁定: #acacac;		/*shift键_二按_锁定_背景色*/
  --键边框颜色: #000;
  --键边框大小: 0.4px;
  --键圆角: 0.4rem;
  --键间距: .1rem;		/* 键(||)*/
  --键阴影:		/* 键 底部阴影 */
			none;

/*字母键*/
  --背景色1: #262422;
  --字体色1: #fff;
  --字大小1: 1.5rem;
  --上标字符色1: #00ABB3;
  --case: uppercase;		/*uppercase 大写 , none 小写*/
  --字阴影1: none;
  --键阴影1:
			none;

/*功能键*/
  --背景色2: #43474a;
  --字体色2: #fff;
  --上标字符色2: #00ABB3;
  --底栏字体色: var(--上标字符色1);
  --字阴影2: none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: #43474a;
  --⏎字体色: #00ABB3;

/*候选栏*/
  --候背景色: #6a6f73;
  --候字体颜色: black;
  --候高亮首选色: #F06D06;
  --候底线颜色: transparent;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影: none;
  --V背景色: var(--候背景色);
}
