:root{
  --键盘背景色: #5A6470;
  --⇧键单击: #0F0;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #000;
  --键边框大小: 0.01rem;
  --键圆角: .2rem;
  --键间距: .15rem;		/* 键(||)*/
  --键阴影: rgba(0,0,0,.6) .08rem .1rem .2rem,rgba(0,0,0,.8) 0 -.1rem 0 inset,rgba(0,0,0,.2) .08rem -.1rem .2rem;

/*字母键*/
  --背景色1: linear-gradient(0deg,#DEDFE1,#efefef);
  --字体色1: #111;
  --字大小1: 1.4rem;
  --上标字符色1: var(--字体色1);
  --字阴影1: 0 0 0 #000;
  --键阴影1: 0 .05rem 0 rgba(255,255,255,.3) inset;

/*功能键*/
  --背景色2: #78808B;
  --字体色2: #ccc;
  --上标字符色2: var(--字体色2);
  --字阴影2: none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: #78808B;
  --⏎字体色: #ccc;

/*候选栏*/
  --候背景色: #DEDFE1;
  --候字体颜色: var(--字体色1);
  --候高亮首选色: #F50;
  --候底线颜色: #000;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影: 0 .15rem .2rem rgba(0,0,0,.3);
  --V背景色: #DEDFE1;
  --底栏字色: #fff;
}
