:root{
  --键盘背景色: #e7F6F4;
  --⇧键单击: #f90;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #000;
  --键边框大小: .1rem;
  --键圆角: .6rem;
  --键间距: .05rem;		/* 键(||)*/
  --行间距: 0;		/*行(=)*/
  --键阴影:	
    inset 0 .05rem .1rem rgba(255,255,255,.1),
    inset 0 -.3rem .3rem rgba(0,0,0,.15);

/*字母键*/
  --背景色1: linear-gradient(to bottom, rgba(176,199,183,.4), rgba(105,105,105,.2)),#fff;
  --字体色1: #111;
  --字大小1: 1.4rem;
  --上标字符色1: #444;
  --字阴影1: 
    none;

  --键阴影1: none;

/*功能键*/
  --背景色2: linear-gradient(to right, #B0C7B7, #ddede5 100%),#fff;
  --字体色2: #111;
  --上标字符色2: #555;
  --字阴影2: 
    none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: #E6EDE5;
  --⏎字体色: #111;

/*候选栏*/
  --候背景色: #e7F6F4;
  --候字体颜色: #111;
  --候高亮首选色: green;
  --候底线颜色: transform;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: 0 .2rem 0 #000;
  --候阴影: none;
  --V背景色: var(--候背景色);  /*候选下拉展开键背景色*/
  --底栏字色: #222;
  --uifj键色: var(--字体色1);
}

.hii-note{
  text-shadow: none !important;
  color: var(--背景色1) !important;
}

.keyboard-key:not(.special-key) .alt-note {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: .8rem Sans-serif;
  text-shadow: none;
}

del.keyboard-key[data-keycode="32"] .alt-note {
	color: #ccc;
  font: .8rem serif;
}
