:root{
  --键盘背景色: #222;
  --⇧键单击: #f90000;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #000;
  --键边框大小: 0.05rem;
  --键圆角: 0.3rem;
  --键间距: 0.1rem;		/* 键(||)*/
  --键阴影:		/* 键 底部阴影 */
			#000 0 0 0,
			0 .05rem 0.2rem rgba(0.0,0,.3);

/*字母键*/
  --背景色1: linear-gradient(to top left, rgba(200,200,200,.3) 10%, rgba(100,0,0,.5) 80%, rgba(200,200,200,.2) 20%); /*#202132;*/
  --字体色1: #bbb;
  --字大小1: 1.4rem;
  --上标字符色1: var(--字体色1);
  --字阴影1: none;
  --键阴影1: none;

/*功能键*/
  --背景色2: linear-gradient(to bottom left, rgba(200,0,0,.1) 0%, rgba(100,0,0,.3) 50%, rgba(200,0,0,.3) 100%);
  --字体色2: #bbb;
  --上标字符色2: var(--字体色2);
  --字阴影1: 0 0 0 #000;
  --键阴影2: none;
/*回车键*/
  --⏎背景色: linear-gradient(to bottom right, rgba(100,0,0,.1) 0%, rgba(100,0,0,.3) 50%, rgba(255,0,0,.3) 100%);
  --⏎字体色: #ddd;

/*候选栏*/
  --候背景色: #4A1818;
  --候字体颜色: #bbb;
  --候高亮首选色: #ff0;
  --候底线颜色: #000;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影: 0 .2rem .2rem rgba(0,0,0,.3);
  --V背景色: var(--候背景色);
  --uifj键色: var(--字体色1);
  --底栏字色: #ddd;
}
