:root{
  --键盘背景色: #E6E7EF;
  --⇧键单击: #f90000;		/*shift键_单按_高亮_文字色*/
  --⇧键锁定: #fff;		/*shift键_二按_锁定_背景色*/
  --键边框颜色: #444;
  --键边框大小: 0.01rem;
  --键圆角: .3rem;
  --键间距: 0.15rem;		/* 键(||)*/
  --键阴影:		/* 键 底部阴影 */
	0 -.3rem 0 rgba(0,0,0,.2) inset,
	.1rem .2rem .2rem rgba(0,0,0,.5);

/*字母键*/
  --背景色1: transparent;
  --字体色1: #000;
  --字大小1: 1.4rem;
  --上标字符色1: var(--字体色1);
  --case: uppercase;		/*uppercase 大写 , none 小写*/
  --字阴影1: 0 -.08rem #000, 0 .06rem #fff;
  --键阴影1: 
	.1rem .1rem 0 rgba(0,0,0,.3) ,
	.1rem .1rem .2rem rgba(255,255,255,.3) inset;

/*功能键*/
  --背景色2: #313742;
  --字体色2: #fff;
  --上标字符色2: var(--字体色2);
  --字阴影2: none;
  --键阴影2:
	-.05rem 0 0 rgba(0,0,0,.15),
	0 .1rem 0 rgba(255,255,255,.2) inset;

/*回车键*/
  --⏎背景色: #313742;
  --⏎字体色: #fff;

/*候选栏*/
  --候背景色: #313742;
  --候字体颜色: #fff;
  --候高亮首选色: #ff0;
  --候底线颜色: #000;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影: 
	0 -.2rem 0 rgba(0,0,0,.2) inset,
	0 .2rem .1rem rgba(0,0,0,.5);
  --V背景色: #313742;
}
