:root{
  --键盘背景色: #1F1F1F;
  --⇧键单击: #FFF000;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #000;
  --键边框大小: .1rem;
  --键圆角: .35rem;
  --键间距: .15rem;		/* 键(||)*/
  --键阴影:		/* 键 底部阴影 */
			rgba(0,0,0,.6) 0.1rem .15rem .2rem,
			#000 0 -.05rem 0 inset,
			rgba(255,255,255,.15) 0 .1rem 0 inset;

/*字母键*/
  --背景色1: #494949;
  --字体色1: #EEE;
  --字大小1: 1.4rem;
  --上标字符色1: var(--字体色1);
  --字阴影1: 0 0 0 #000;
  --键阴影1: none;

/*功能键*/
  --背景色2: #2C2C2C;
  --字体色2: #EEE;
  --上标字符色2: var(--字体色2);
  --字阴影2: none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: #377AEF;
  --⏎字体色: #EEE;

/*候选栏*/
  --候背景色: transparent;
  --候字体颜色: var(--字体色2);
  --候高亮首选色: #FFF000;
  --候底线颜色: transparent;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影: none;
  --V背景色: #1F1F1F;
  --底栏字色: #eee;
}
