:root{
  --键盘背景色: #eee;
  --⇧键单击: #fff000;	/*shift键_单按_高亮_文字色*/

/*字母键*/
  --字体色1: green;
  --字大小1: 1.2rem;
  --上标字符色1: var(--字体色1);

/*功能键*/
  --字体色2: #fff;
  --上标字符色2: var(--字体色2);
	--⏎字体色: var(--字体色2);

/*候选栏*/
  --候背景色: #eee;
  --候字体颜色: green;
  --候高亮首选色: #f00;
  --候底线颜色: transparent;
  --V背景色: #eee;
  --底栏字色: green;
	--选重: #fff000;

  --背景色1: transparent;
  --背景色2: transparent;
  --uifj键色: var(--字体色1);
	--动画框色: transparent;
	--动画背景: transparent;
	--下标: transparent;
	
  --键高度: 3.75rem !important;
  --行间距: 0 !important;
	
	--图候选: url(images/filco/候选栏.png);
	--图字母: url(images/filco/字母键.png);
	--图功能: url(images/filco/功能键.png);
	--图空格: url(images/filco/空格.png);

}

/* 上标位置 */
.keyboard-key .alt-note {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: .6rem Sans-serif;
}
.keyboard-key.kbr-key-hold> .visual-wrapper {
  border: none !important;
}
.keyboard-key.highlighted>.visual-wrapper:after {
  display: none;
}

.keyboard-key{
  background-size: 100% 100% !important;
  background-repeat:no-repeat !important;
  background-position: 100% 100% !important;
}

.keyboard-key-panel {
  transform:scaleX(var(--左右间距, 0.98)) !important;
	border-radius: .4rem;
	background: #bbb;
	margin:0;
	box-shadow: 0 -.1rem .1rem #444;
}

.bottom-zg span{
	font-size:1.1rem !important;
}

/* 候选栏背景 */
.keyboard-candidate-panel {
  background-image: var(--图候选);
}
/* 字母键背景 */
.keyboard-key:not(.special-key) { 
  background-image: var(--图字母);
}
/* 功能键背景 */
.keyboard-key.special-key {
  background-image: var(--图功能);
}
/* 空格键背景 */
.keyboard-key:not(.special-key)[data-keycode="32"] {
  background: var(--图空格) no-repeat center/ 100% 100% !important;
}
.keyboard-key[data-keycode="32"] > .visual-wrapper span{
	font-size: var(--字大小1) !important;
}