:root{
  --键盘背景色: #f4f6f9;
  --⇧键单击: #f00;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: none;
  --键边框大小: 0.001rem;
  --键圆角: .6rem;
  --键间距: .15rem;		/* 键(||)*/
  --键阴影:  
  			none;

/*字母键*/
  --背景色1: #eee;
  --字体色1: #000100;
  --字大小1: 1.4rem;
  --上标字符色1: var(--字体色1);
  --字阴影1 :none;
  --键阴影1: none;

/*功能键*/
  --背景色2: #e8ebde;
  --字体色2: #000100;
  --上标字符色2: #5e5f5a;
  --字阴影2: none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: #eaecdf;
  --⏎字体色: #000;

/*候选栏*/
  --候背景色: transparent;
  --候字体颜色: var(--字体色1);
  --候高亮首选色: #e52c10;
  --候底线颜色: transparent;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影: none;
  --V背景色: #f4f6f9;
  --底栏字色: #000100;
}

.keyboard-key[data-keycode="113"] > .visual-wrapper {
  background: #dbe9ea; /*q*/
}
.keyboard-key[data-keycode="119"] > .visual-wrapper {
  background: #c1e2e7; /*w*/
}
.keyboard-key[data-keycode="101"] > .visual-wrapper {
  background: #a2dbe2; /*e*/
}
.keyboard-key[data-keycode="114"] > .visual-wrapper {
  background: #85d2dc; /*r*/
}
.keyboard-key[data-keycode="116"] > .visual-wrapper {
  background: #57c7d5; /*t*/
}
.keyboard-key[data-keycode="121"] > .visual-wrapper {
  background: #57c7d5; /*y*/
}
.keyboard .keyboard-key[data-keycode="117"] > .visual-wrapper {
  background: #85d2dc; /*u*/
}
.keyboard .keyboard-key[data-keycode="105"] > .visual-wrapper {
  background: #a2dbe2; /*i*/
}
.keyboard-key[data-keycode="111"] > .visual-wrapper {
  background: #c1e2e7; /*o*/
}
.keyboard-key[data-keycode="112"] > .visual-wrapper {
  background: #dbe9ea; /*p*/
}

.keyboard-key[data-keycode="97"] > .visual-wrapper {
  background: #e1e8e1; /*a*/
}
.keyboard-key[data-keycode="115"] > .visual-wrapper {
  background: #cedfce; /*s*/
}
.keyboard-key[data-keycode="100"] > .visual-wrapper {
  background: #b9d6ba; /*d*/
}
.keyboard .keyboard-key[data-keycode="102"] > .visual-wrapper {
  background: #a4cda5; /*f*/
}
.keyboard-key[data-keycode="103"] > .visual-wrapper {
  background: #95c696; /*g*/
}
.keyboard-key[data-keycode="104"] > .visual-wrapper {
  background: #a4cda5; /*h*/
}
.keyboard .keyboard-key[data-keycode="106"] > .visual-wrapper {
  background: #b9d6ba; /*j*/
}
.keyboard-key[data-keycode="107"] > .visual-wrapper {
  background: #cedfce; /*k*/
}
.keyboard-key[data-keycode="108"] > .visual-wrapper {
  background: #e1e8e1; /*l*/
}

.keyboard-key[data-keycode="122"] > .visual-wrapper {
  background: #e5e8cb; /*z*/
}
.keyboard-key[data-keycode="120"] > .visual-wrapper {
  background: #dfe4b4; /*x*/
}
.keyboard-key[data-keycode="99"] > .visual-wrapper {
  background: #d9df9d; /*c*/
}
.keyboard-key[data-keycode="118"] > .visual-wrapper {
  background: #d5dc8c; /*v*/
}
.keyboard-key[data-keycode="98"] > .visual-wrapper {
  background: #d9df9d; /*b*/
}
.keyboard-key[data-keycode="110"] > .visual-wrapper {
  background: #dfe4b4; /*n*/
}
.keyboard-key[data-keycode="109"] > .visual-wrapper {
  background: #e5e8cb; /*m*/
}

.keyboard-key[data-keycode="32"] > .visual-wrapper {
  background: #e7e9d1; /*空格*/
}

/*●上标居中 */
.keyboard-key .alt-note {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ●隐藏下标 */
.keyboard-key .hii-note {
  color: transparent;
}
