:root{
  --键盘背景色: #111;
  --⇧键单击: #ff9000;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #000;
  --键边框大小: none;
  --键圆角: none;
  --键间距: none;		/* 键(||)*/
  --行间距: none;		/*行(=)*/
  --键阴影: inset 0 .1rem .1rem rgba(255,255,255,.3);

/*字母键*/
  --背景色1: #565656;
  --字体色1: #fff;
  --字大小1: 1.5rem;
  --上标字符色1: var(--字体色1);
  --字阴影1: 0 0 0 #000;
  --键阴影1: none;

/*功能键*/
  --背景色2: #1B1B1B;
  --字体色2: #FFF;
  --上标字符色2: var(--字体色2);
  --字阴影2: none; 
  --键阴影2: none;

/*回车键*/
  --⏎背景色: #1B1B1B;
  --⏎字体色: #FFF;

/*候选栏*/
  --候背景色: #1B1B1B;
  --候字体颜色: #fff;
  --候高亮首选色: #00B9EB;
  --候底线颜色: transparent;
  --候字阴影: none;
  --候阴影:
	0 .2rem 0 #000,
	inset 0 .1rem .2rem rgba(255,255,255,.3);
  --V背景色: var(--候背景色);  /*候选下拉展开键背景色*/
	
	--字上下1: 0%; /* 字母键 */
	--字左右1: 5%;
	--字上下2: 6%; /* 空格 和 功能键 */
	--预设: none;
	--底部增高: 1.44rem !important;
	--动画背景: transparent;
	--动画框色: transparent;
}

.bottom-zg span{
	color: #ddd !important;
	bottom: .5% !important;
}

.keyboard-key {
  background: var(--背景色1) !important;
}
.keyboard-key.special-key,
.keyboard-key.special-keya {
  background: var(--背景色2) !important;
}

.keyboard-key[data-keycode="13"] {
  background: var(--⏎背景色) !important;
}
.keyboard-key{
  border: .1rem solid #000 !important;
  padding: 0;
	box-shadow: 0 .1rem 0 #000;
}
.hii-note {
	left: inherit !important;
	right: .2rem !important;
  bottom: -8% !important; /* 调整下标位置(上下) */
}
.keyboard-key.kbr-key-hold> .visual-wrapper {
  border: none !important;
}
.keyboard-key[data-keycode="32"] > .visual-wrapper span{
  font-size: var(--字大小1) !important;
}

.keyboard-row {
  margin:0 !important;
}

.keyboard-key.highlighted2,
.keyboard-key:not([data-keycode="32"]).highlighted2 >.visual-wrapper {
  background: rgba(230, 0, 229, .3) !important;
}