:root{
  --键盘背景色: #252C3D;
  --⇧键单击: #fff900;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #000;
  --键边框大小: .1rem;
  --键圆角: 50%;
  --键间距: .08rem;		/* 键(||)*/
  --行间距: .68rem !important;		/*行(=)*/
  --键阴影:	 
    0 .15rem .1rem rgba(0,0,0,.2),
    inset 0rem .15rem 0 rgba(255, 255, 255, .05),
    inset 0rem -.2rem .2rem rgba(0, 0, 0, .3);

/*字母键*/
  --背景色1: #414769;
  --字体色1: #ddd;
  --字大小1: 1.3rem;
  --上标字符色1: var(--字体色1);
  --字阴影1: 0 .1rem 0 #000,0 .05rem 0 #fff;
  --键阴影1: none;

/*功能键*/
  --背景色2: #2D304F;
  --字体色2: #ABAFC7;
  --上标字符色2: var(--字体色2);
  --字阴影2: none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: var(--背景色2);
  --⏎字体色: #fff;

/*候选栏*/
  --候背景色: #2D304F;
  --候字体颜色: #eee;
  --候高亮首选色: #0AC9FF;
  --候底线颜色: none;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影: none;
  --候底线颜色: #000;
  --V背景色: var(--候背景色);  /*候选下拉展开键背景色*/
  --底栏字色: #eee;
  --uifj键色: var(--字体色1);
  
  --键高度: 2.9rem !important;
  --高亮色1: #24ACE5;
}

.keyboard-key .alt-note {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: .6rem Sans-serif;
}
.keyboard-key .hii-note {
  color: transparent !important;
}
.keyboard-key.special-key[data-keycode="13"] .alt-note{
  color: var(--透明,#fff);
}

.keyboard-key[data-keycode="32"] > .visual-wrapper {
  border-radius: 1.5rem !important;
}