:root{
  --键盘背景色: #EBE5D8;
  --⇧键单击: #fF0000;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #444;
  --键边框大小: 0.01rem;
  --键圆角: .8rem;
  --键间距: 0.13rem;		/* 键(||)*/
  --键阴影: none;

/*字母键*/
  --背景色1: rgba(235,229,216,.5);
  --字体色1: #000;
  --字大小1: 1.4rem;
  --上标字符色1: var(--字体色1);
  --字阴影1: 0 0 0 #000;
  --键阴影1: none;

/*功能键*/
  --背景色2: rgba(205,129,116,.1);
  --字体色2: #000;
  --上标字符色2: var(--字体色2);
  --字阴影2: none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: rgba(171,130,255,.3);
  --⏎字体色: #000;

/*候选栏*/
  --候背景色: #EBE5D8;
  --候字体颜色: #000;
  --候高亮首选色: #ff0B0f;
  --候底线颜色: transparent;
  --候字阴影: none;
  --候阴影: none;
  --V背景色: #EBE5D8;
	--底栏字色: #000;
	
	--下标: transparent;
}

.keyboard-key .alt-note {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: .7rem Sans-serif;
}

.keyboard-key:not(.special-key).highlighted2 >.visual-wrapper::after{
  content: ""; position: absolute;
  /*top: 25%; bottom: 16%; right: 20%; left: 34%;*/
	inset: 0;
  z-index: -1;
  background: radial-gradient(
    circle closest-side at 50% 50%,
    #fff 25%,
    pink 60%,
    transparent
  );
}

.keyboard-key-panel {
  transform:scaleX(var(--左右间距, 0.98)) !important;
	border-radius: .4rem;
	background: #F9F6F2;
	margin:0;
	box-shadow: inset 0 0 .07rem #000;
}

.keyboard-key.special-key[data-keycode="-1"] > .visual-wrapper {
	background: #feeebf !important;
}
.keyboard-key.special-key[data-keycode="-2"] > .visual-wrapper {
	background: #f0ffc5 !important;
}
.keyboard-key.special-key[data-keycode="-12"] > .visual-wrapper {
	background: #e0eeee !important;
}
.keyboard-key[data-keycode="8"] > .visual-wrapper {
	background: #FFE4E1 !important;
}

.keyboard-key[data-keycode="32"] > .visual-wrapper,
.keyboard-key.special-key > .visual-wrapper {
	border-radius: 1.5rem/2rem;
}