:root{
  --键盘背景色: #313942;
  --⇧键单击: #f90000;		/*shift键_单按_高亮_文字色*/
  --⇧键锁定: #fff;		/*shift键_二按_锁定_背景色*/
  --键边框颜色: #000;
  --键边框大小: 0.1rem;
  --键圆角: .4rem;
  --键间距: 0.05rem;		/* 键(||)*/
  --键阴影: 
    0 .15rem .1rem rgba(0,0,0,.2),
    inset -.26rem -.35rem 0 rgba(0, 0, 0, .2);

/*字母键*/
  --背景色1: rgba(255,255,255,.3);
  --字体色1: #000;
  --字大小1: 1.4rem;
  --上标字符色1: var(--字体色1);
  --字阴影1: 0 0 0 #000;
  --键阴影1: inset .26rem .15rem 0 rgba(255, 255, 255, 1);

/*功能键*/
  --背景色2: #354252;
  --字体色2: #ccc;
  --上标字符色2: var(--字体色2);
  --字阴影2: none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: #E66D4C;
  --⏎字体色: #fff;

/*候选栏*/
  --候背景色: var(--键盘背景色);
  --候字体颜色: #ccc;
  --候高亮首选色: #ff0;
  --候底线颜色: none;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影: none;
  --V背景色: #313942;
	--底栏字色: #eee;
	--uifj键色: var(--字体色1);
  --下标: transparent; /* 下标字色 */
	--动画背景: transparent;
}

/* 上标居中 下标隐藏 */
.keyboard-key .alt-note {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: .6rem Sans-serif;
}

.keyboard-key.special-key[data-keycode="13"] .alt-note{
  color: var(--透明,white);
}

.keyboard-key > .visual-wrapper span:active{
	color: red !important;
}
.bottom-zg span{
	font-size:1.1rem !important;
}

.keyboard-key-panel {
  transform:scaleX(var(--左右间距, 0.98)) !important;
	border-radius: .4rem;
	background: #fffeee;
	box-shadow: inset 0 .15rem 0 #000;
}
.keyboard-key.special-key:not([data-keycode="13"]) > .visual-wrapper {
	border-radius: .4rem;
	border-bottom: .3rem solid #1e252e;
	border-right: .25rem solid #333;
	border-left: .25rem solid #333;
	box-shadow:
		inset 0 0 .1rem rgba(255,255,255,.3),
		0 .1rem 0 #000;
}
.keyboard-key.special-key[data-keycode="13"] > .visual-wrapper {
	border:none;
	box-shadow:
		inset .25rem -.3rem 0 rgba(0,0,0,.3),
		inset -.25rem -.3rem 0 rgba(0,0,0,.2),
		0 .1rem 0 rgba(0,0,0,.8);
}


