:root{
  --键盘背景色: #6a6f73;
  --⇧键单击: #f50;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #000;
  --键边框大小: .12rem;
  --键圆角: .2rem;
  --键间距: .08rem;		/* 键(||)*/
  --键阴影: none;
	
/*字母键*/
  --背景色1: #262422;
  --字体色1: #ddd;
  --字大小1: 1.4rem;
  --上标字符色1: #d2d0d0;
  --字阴影1: none;
  --键阴影1: none;

/*功能键*/
  --背景色2: #43474a;
  --字体色2: #ddd;
  --上标字符色2: #d2d0d0;
  --字阴影2: none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: #43474a;
  --⏎字体色: #ccc;

/*候选栏*/
  --候背景色: rgb(176, 174, 168);
  --候字体颜色: #000;
  --候高亮首选色: #c35000;
  --候底线颜色: transparent;
  --候字阴影: none;
  --候阴影: none;
  --V背景色: rgb(176, 174, 168);
  --底栏字色: #ddd;
	--uifj键色: var(--字体色1);
  --候顶部线色: #000;
  --候顶部线色2: #e8e8ff;
	--选重: #f70;
	--动画框色: #4AB6CB;
}

.keyboard-key .hii-note{
  color: transparent !important;
}

.keyboard-key.special-key > .visual-wrapper {
	border-color: #2a2c2e;
}

.keyboard-key:not([data-keycode="32"]).highlighted2 >.visual-wrapper span{
	border-radius: 0;
}