:root{
  --键盘背景色: #333;
  --⇧键单击: #f00;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #aaa;
  --键边框大小: 0.05rem;
  --键圆角: .5rem;
  --键间距: .15rem;		/* 键(||)*/
  --键阴影:		/* 键 底部阴影 */
			none;

/*字母键*/
  --背景色1: rgba(0,0,0,.01);
  --字体色1: #FF8629;
  --字大小1: 1.5rem;
  --上标字符色1: var(--字体色1);
  --字阴影1: 0 0 .7rem #FF8629, 0 -.1rem 0 #000;
  --键阴影1:
			none;

/*功能键*/
  --背景色2: rgba(255,255,255,.05);
  --字体色2: #FF8629;
  --上标字符色2: transparent;
  --字阴影2: none;
  --键阴影2:  none;

/*回车键*/
  --⏎背景色: rgba(0,0,0,.2);
  --⏎字体色: #FF8629;

/*候选栏*/
  --候背景色: #333;
  --候字体颜色: #FF8629;
  --候高亮首选色: #ff0;
  --候底线颜色: transparent;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影: none;
  --V背景色: var(--候背景色);
  --底栏字色: #FF8629;
}

.keyboard-key[data-keycode="32"] > .visual-wrapper,
.keyboard-key[data-keycode="13"] > .visual-wrapper {
              padding: 0.6em 2em;
              border: none;
              outline: none;
              background: #111;
              cursor: pointer;
              position: relative;
              z-index: 0;
              border-radius: 10px;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
            }

.keyboard-key[data-keycode="32"] > .visual-wrapper:before,
.keyboard-key[data-keycode="13"] > .visual-wrapper:before {
              content: "";
              background: linear-gradient(
                45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff,
                #ff00c8,
                #ff0000
              );
              position: absolute;
              top: -2px;
              left: -2px;
              background-size: 400%;
              z-index: -1;
              filter: blur(5px);
              -webkit-filter: blur(5px);
              width: calc(100% + 4px);
              height: calc(100% + 4px);
              animation: glowing-button-85 20s linear infinite;
              transition: opacity 0.3s ease-in-out;
              border-radius: 10px;
            }
  
            @keyframes glowing-button-85 {
              0% {
                background-position: 0 0;
              }
              50% {
                background-position: 400% 0;
              }
              100% {
                background-position: 0 0;
              }
            }
  
.keyboard-key[data-keycode="32"] > .visual-wrapper:after {
              z-index: -1;
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              background: #333;
              left: 0;
              top: 0;
              border-radius: 10px;
            }

/* ●点击 按键字母 动画效果 */
.keyboard-key:not(.special-key):not(.special-keya):not(.keyboard-key[data-keycode="32"]).highlighted2 > .visual-wrapper span {
	background: none;
	box-shadow: none;
	text-shadow: none;
	position: absolute;
  font-size: 2.3rem;
  color: #f00;
  text-transform: uppercase;
  transform: translateY(-150%);
	transition:
		transform .3s cubic-bezier(1.0, 0.0, 1.0, 4);
	pointer-events: none;
}
