:root{
  --键盘背景色: #444;
  --⇧键单击: #F90000;
  --键边框颜色: #ff0;
  --键边框大小: 0.05rem;
  --键圆角: .5rem;
  --键间距: .15rem;		/* 键(||)*/
  --键阴影:  
  			-.15rem .1rem .2rem rgba(0,0,0,.5),
				inset .1rem -.1rem .3rem rgba(0,0,0,.2);

/*字母键*/
  --背景色1: rgba(0,0,0,.2);
  --字体色1: #aaa;
  --字大小1: 1.4rem;
  --上标字符色1: #999;
  --字阴影1: none;
  --键阴影1: none;

/*功能键*/
  --背景色2: #252525;
  --字体色2: #aaa;
  --上标字符色2: #999;
  --字阴影2: none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: #12151A;
  --⏎字体色: #51A2DD;

/*候选栏*/
  --候背景色: #333;
  --候字体颜色: #bbb;
  --候高亮首选色: #D7527E;
  --候底线颜色: #000;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影: 0 .1rem .1rem rgba(0,0,0,.3);
  --V背景色: #333;
  --底栏字色: #bbb;
  --上下标大小: .5rem !important;
  --候顶部线色2: #12151A !important;
	--下标: transparent;
	
	--动画阴影色: rgba(255, 255, 26, .6);
	--动画框色: #fff;
	--动画背景: rgba(255, 170, 170, 0.2);
	--动画: box-shadow .2s cubic-bezier(.4, 0, .2, 4);
	--动画阴影: 
			.5rem 0 .7rem .1rem var(--动画阴影色),
			-.5rem 0 .7rem .1rem var(--动画阴影色),
			0 .01rem .7rem .1rem var(--动画阴影色);
}

.keyboard-key[data-keycode="113"] > .visual-wrapper span{
  color: #9C9B9C; /*q*/
}
.keyboard-key[data-keycode="119"] > .visual-wrapper span{
  color: #1385D4; /*w*/
}
.keyboard-key[data-keycode="101"] > .visual-wrapper span{
  color: #9C9B9C; /*e*/
}
.keyboard-key[data-keycode="114"] > .visual-wrapper span{
  color: #B76484; /*r*/
}
.keyboard-key[data-keycode="116"] > .visual-wrapper span{
  color: #9C9B9C; /*t*/
}
.keyboard-key[data-keycode="121"] > .visual-wrapper span{
  color: #235CDC; /*y*/
}
.keyboard .keyboard-key[data-keycode="117"] > .visual-wrapper span{
  color: #9C9B9C; /*u*/
}
.keyboard .keyboard-key[data-keycode="105"] > .visual-wrapper span{
  color: #F79B77; /*i*/
}
.keyboard-key[data-keycode="111"] > .visual-wrapper span{
  color: #9C9B9C; /*o*/
}
.keyboard-key[data-keycode="112"] > .visual-wrapper span{
  color: #CA5C82; /*p*/
}

.keyboard-key[data-keycode="97"] > .visual-wrapper span{
  color: #31529C; /*a*/
}
.keyboard-key[data-keycode="115"] > .visual-wrapper span{
  color: #9C9B9C; /*s*/
}
.keyboard-key[data-keycode="100"] > .visual-wrapper span{
  color: #0FAE5E; /*d*/
}
.keyboard .keyboard-key[data-keycode="102"] > .visual-wrapper span{
  color: #9C9B9C; /*f*/
}
.keyboard-key[data-keycode="103"] > .visual-wrapper span{
  color: #5BD3B4; /*g*/
}
.keyboard-key[data-keycode="104"] > .visual-wrapper span{
  color: #9C9B9C; /*h*/
}
.keyboard .keyboard-key[data-keycode="106"] > .visual-wrapper span{
  color: #42BADE; /*j*/
}
.keyboard-key[data-keycode="107"] > .visual-wrapper span{
  color: #9C9B9C; /*k*/
}
.keyboard-key[data-keycode="108"] > .visual-wrapper span{
  color: #256574; /*l*/
}


.keyboard-key[data-keycode="122"] > .visual-wrapper span{
  color: #5AAEBD; /*z*/
}
.keyboard-key[data-keycode="120"] > .visual-wrapper span{
  color: #9C9B9C; /*x*/
}
.keyboard-key[data-keycode="99"] > .visual-wrapper span{
  color: #C0CF3E; /*c*/
}
.keyboard-key[data-keycode="118"] > .visual-wrapper span{
  color: #9C9B9C; /*v*/
}
.keyboard-key[data-keycode="98"] > .visual-wrapper span{
  color: #DD517B; /*b*/
}
.keyboard-key[data-keycode="110"] > .visual-wrapper span{
  color: #A17CD6; /*n*/
}
.keyboard-key[data-keycode="109"] > .visual-wrapper span{
  color: #9C9B9C; /*m*/
}

.keyboard-key.special-key[data-keycode="8"] > .visual-wrapper span{
  color: #C25D85; /*退格键*/
}
del.keyboard-key.special-key[data-keycode="-1"] > .visual-wrapper span{
  color: #aaa; /*shift*/
}
.keyboard-key.special-key[data-keycode="-2"] > .visual-wrapper span{
  color: #4990B7; /*中英切换*/
}
.keyboard-key.special-key[data-keycode="-12"] > .visual-wrapper span{
  color: #55A660; /*符号*/
}
.keyboard-key[data-keycode="32"] > .visual-wrapper span{
  text-transform: uppercase; /*空格*/
}

.keyboard-key.special-key[data-keycode="44"] > .visual-wrapper span{
  color: #5252A7; /*,号*/
}
.keyboard-key.special-key[data-keycode="46"] > .visual-wrapper span{
  colir: #7F65A1; /*.号*/
}
.keyboard-key.special-key[data-keycode="47"] > .visual-wrapper span{
  color: #DDA164; /* /号 */
}
.keyboard-key.special-key[data-keycode="59"] > .visual-wrapper span{
  color: #FFC8DD; /*;号*/
}

/* keycode 48-57 = 数字0-9*/

/* 上标居中 */
.keyboard-key .alt-note {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: .7rem Sans-serif;
}


