:root{
  --键盘背景色: #fff;
  --⇧键单击: #f00;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: transparent;
  --键边框大小: 0.1rem;
  --键圆角: .3rem;
  --键间距: .1rem;		/* 键(||)*/
  --行间距2: 0;		/*行(=)*/
  --键阴影:	 none;

/*字母键*/
  --背景色1: linear-gradient(white, white) padding-box,
linear-gradient(79deg, #999 40%, transparent 43%,#777 53.33%, transparent 53.33%, transparent 66.66%, #777 66.66%) border-box !important;
  --字体色1: #222;
  --字大小1: 1.5rem;
  --上标字符色1: var(--字体色1);
  --字阴影1: none;
  --键阴影1: none;

/*功能键*/
  --背景色2: linear-gradient(#ffffee, white) padding-box,
linear-gradient(160deg, #E1D4F7 26%, transparent 26%, pink 53.33%, transparent 53.33%, transparent 70.66%, #D4E1F7 70.66%) border-box !important;
  --字体色2: #333;
  --上标字符色2: var(--字体色2);
  --字阴影2: none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: var(--背景色2);
  --⏎字体色: blue;

/*候选栏*/
  --候背景色: transparent;
  --候字体颜色: #111;
  --候高亮首选色: #0A80FF;
  --候字阴影: none;
  --候阴影: none;
  --候底线颜色: none;
  --V背景色: #fff;  /*候选下拉展开键背景色*/
  --底栏字色: #222;
  --uifj键色: var(--字体色1);
	--高亮色2: red;
}

.keyboard-key .alt-note {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: .6rem Sans-serif;
}
del.keyboard-key .hii-note {
  color: transparent !important;
}

.keyboard-key.special-key > .visual-wrapper {
	border: .15rem solid transparent !important;
}

.keyboard:not(.popup) .keyboard-candidate-panel span[data-selection="true"]{
  position: relative; z-index: 100;
}
.keyboard:not(.popup) .keyboard-candidate-panel span.first{
  color: #000 !important;
}
.keyboard:not(.popup) .keyboard-candidate-panel span.first:before{
  height: 2.2rem;
  border-radius: .3rem;
  line-height:1;
  background: transparent;
	border: .1rem dashed #999;
  content: "";
  position:absolute;
  bottom:0;top:23%;left:.1rem;right:0%;
  z-index: -1;
}
.keyboard:not(.popup) .keyboard-candidate-panel span.first label.codetip{
	color: #999 !important;
}
