:root{
  --键盘背景色: #ffffef;
  --⇧键单击: #F05;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #111;
  --键边框大小: 0.05rem;
  --键圆角: .4rem;
  --键间距: .14rem;		/* 键(||)*/
  --键阴影: 
			#000 0 -.05rem 0 inset,
			.15rem -.15rem .3rem rgba(0,0,0,.1) inset,
			-.15rem .1rem .2rem rgba(0,0,0,.3);

/*字母键*/
  --背景色1: transparent;
  --字体色1: #111;
  --字大小1: 1.4rem;
  --上标字符色1: var(--字体色1);
  --字阴影1: 0 0 0 #000;
  --键阴影1: none;

/*功能键*/
  --背景色2: rgba(180, 236, 116, 0.3);
  --字体色2: #111;
  --上标字符色2: var(--字体色2);
  --字阴影2: none;
  --键阴影2: none;

/*回车键*/
  --⏎背景色: rgba(180, 236, 116, 0.3);
  --⏎字体色: #000;

/*候选栏*/
  --候背景色: rgba(180, 236, 116, 0.3);
  --候字体颜色: var(--字体色1);
  --候高亮首选色: #F05;
  --候底线颜色: #000;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影: 0 .1rem .2rem rgba(0,0,0,.3),0 -.1rem .3rem rgba(0,0,0,.2) inset;
  --V背景色: #E8F9CA;
	--uifj键色: var(--字体色1);
}

/* 点击时按键缩小动画 */
.keyboard-key:not(.special-key):not(.special-keya):not([data-keycode="32"]).highlighted2 > .visual-wrapper{
	transform: scale(-20%);
	transition: transform .8s linear;
}

/* 空格键字体循环变色 */
del.keyboard-key[data-keycode="32"]>.visual-wrapper span {
	background: linear-gradient(270deg, red, yellow, rgba(45, 131, 143, 0.8), #8F2DCC, purple);
	background-size: 300% 300%;
	-webkit-background-clip: text;
	color: transparent;
	animation: gradientAnimation 10s ease-in-out infinite;
	text-shadow:none;
	font-weight: 900;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 候选项背景色 */
.keyboard:not(.popup) .keyboard-candidate-panel span[data-selection="true"]{
  position: relative; z-index: 100;
}
.keyboard:not(.popup) .keyboard-candidate-panel span[data-data]:before,
.keyboard:not(.popup) .keyboard-candidate-panel span.first:before{
  height: 2.2rem;
	border: 0rem solid #000;
  border-radius: 1rem 1rem 1rem 1rem;
  line-height: 1;
  content: "";
  position:absolute;
  bottom:0;
	top:23%; /* 上下位置调整 */
	left:.1rem;
	right:0%;
  z-index: -1;
}
.keyboard:not(.popup) .keyboard-candidate-panel span[data-data="1"]:before{
  background: rgba(190, 66, 217, 0.13) !important; /* 二选 背景色 */
}
.keyboard:not(.popup) .keyboard-candidate-panel span[data-data="2"]:before{
  background: rgba(229, 219, 134, 0.4) !important; /* 三选 背景色 */
}
.keyboard:not(.popup) .keyboard-candidate-panel span[data-data="3"]:before{
  background: rgba(133, 195, 216, 0.2) !important; /* 四选 背景色 */
}
.keyboard:not(.popup) .keyboard-candidate-panel span[data-data="4"]:before{
  background: rgba(210, 90, 209, 0.1) !important; /* 五选 背景色 */
}
.keyboard:not(.popup) .keyboard-candidate-panel span[data-data="0"]:before{
/* 当前选择非第一个候选时,第一个候选背景色 */
  background: rgba(53, 97, 172, 0.2) !important; /* 一选 背景色 */
}
.keyboard:not(.popup) .keyboard-candidate-panel span.first:before{
  background: #A0E1D1 !important; /* 首选 背景色 */
}
.keyboard:not(.popup) .keyboard-candidate-panel span.first{
  color: #111 !important; /* 首选 字体色 */
}

/* 补全编码上下位置 */
.keyboard-candidate-panel span label.codetip {
	top: -.7em !important;
}