:root{
  --键盘背景色: #343434;
  --⇧键单击: #fF9000;		/*shift键_单按_高亮_文字色*/
  --键边框颜色: #000;
  --键边框大小: none;
  --键圆角: none;
  --键间距: none;		/* 键(||)*/
  --行间距: none;		/*行(=)*/
  --键阴影: inset 0 .1rem .15rem rgba(255,255,255,.3);

/*字母键*/
  --背景色1: #4E5158;
  --字体色1: #fff;
  --字大小1: 1.5rem;
  --上标字符色1: var(--字体色1);
  --字阴影1: 0 0 0 #000;
  --键阴影1: none;

/*功能键*/
  --背景色2: #354252;
  --字体色2: #FFF;
  --上标字符色2: var(--字体色2);
  --字阴影2: none; 
  --键阴影2: none;

/*回车键*/
  --⏎背景色: #354252;
  --⏎字体色: #FFF;

/*候选栏*/
  --候背景色: var(--背景色2);
  --候字体颜色: #FFF;
  --候高亮首选色: #FFF900;
  --候底线颜色: #1E4469;		/*候选栏底线(分割键盘区域线)_颜色*/
  --候字阴影: none;
  --候阴影:
	0 .2rem 0 #000,
	inset 0 .1rem .2rem rgba(255,255,255,.3);
  --V背景色: var(--候背景色);  /*候选下拉展开键背景色*/
	
	--字上下1: 0%; /* 字母键 */
	--字左右1: 5%;
	--字上下2: 6%; /* 空格 和 功能键 */
	--预设: none;
	--底部增高: 1.88rem !important;
	--高亮色2: #fff; /* 按键时高亮边框色 */
	
	--动画背景: transparent;
	--动画框色: transparent;
}

.bottom-zg span{
	color: #ddd !important;
	bottom: 1% !important;
}

.keyboard-key {
  background: var(--背景色1) !important;
}
.keyboard-key.special-key,
.keyboard-key.special-keya {
  background: var(--背景色2) !important;
}

.keyboard-key[data-keycode="13"] {
  background: var(--⏎背景色) !important;
}
.keyboard-key{
  border: .05rem solid #000 !important;
  padding: 0;
}
.hii-note {
	left: inherit !important;
	right: .2rem !important;
  bottom: -8% !important; /* 调整下标位置(上下) */
}
.keyboard-key.kbr-key-hold> .visual-wrapper {
  border: none !important;
}
.keyboard-key.highlighted2,
.keyboard-key:not([data-keycode="32"]).highlighted2 >.visual-wrapper {
  background: rgba(230, 0, 229, .2) !important;
}
.keyboard-key[data-row="4"] {
	box-shadow: 
		0 .2rem .2rem rgba(0,0,0,.5),
		inset 0 .1rem .15rem rgba(255,255,255,.3);
}
.keyboard-key[data-keycode="13"] > .visual-wrapper {
	box-shadow: inset 0 .15rem .15rem rgba(255,255,255,.8);
}

.keyboard-key[data-keycode="32"] > .visual-wrapper span{
  font-size: var(--字大小1) !important;
}

.keyboard-row {
  margin:0 !important;
}

.adds button {
	box-shadow: var(--键阴影), 0 .15rem .1rem #111 !important;
}